In [5]:
import pandas as pd
pd.__version__

'2.2.2'

## PANDAS - Panel Data
### It has 2 components  : Series-1D array or vector & DataFrame-2D Matrix

### The main difference between pandas series and numpy array is that we can assign different index number as we want like assigning a name or respective numbers in pandas series as well as dataframe too..

### We can assign the index in pandas using .index function

In [51]:
# pd.Series?
s1 = pd.Series([1,14,43],index=['a','b','c'])
s1['b':]

b    14
c    43
dtype: int64

In [30]:
s2 = pd.Series([90,80,99],index=['FDS','Taleau','Calculus'])
s2.values                              # shows every value in the series

array([90, 80, 99])

In [31]:
s2.index                               # shows every indexes in the series

Index(['FDS', 'Taleau', 'Calculus'], dtype='object')

In [32]:
s2.value_counts

<bound method IndexOpsMixin.value_counts of FDS         90
Taleau      80
Calculus    99
dtype: int64>

In [54]:
s3 = pd.Series(['Arpan','Aayush','Vedant'],[99,98,97]) # if u explicitly pass index and data than it will take the respective elements
# s3 = pd.Series(index = ['Arpan','Ayush','Vedant'], data = [99,98,97])
display(s3.values , s3.index , s3)

array(['Arpan', 'Aayush', 'Vedant'], dtype=object)

Index([99, 98, 97], dtype='int64')

99     Arpan
98    Aayush
97    Vedant
dtype: object

In [38]:
# converting numpy array into pandas series
import numpy as np
marks = np.arange(10,30,2)
pdmarks = pd.Series(marks)
print(marks)
print(pdmarks)

[10 12 14 16 18 20 22 24 26 28]
0    10
1    12
2    14
3    16
4    18
5    20
6    22
7    24
8    26
9    28
dtype: int64

In [46]:
# converting dictionary in pandas series
dict = {"Vedant":99,"Aayush":98,"Arpan":97}
pd2dict = pd.Series(dict)
pd2dict

Vedant    99
Aayush    98
Arpan     97
dtype: int64

In [53]:
dict1 ={"Vedant":'A+',"Aayush":'B',"Arpan":'C'}
pd2dict1 = pd.Series(dict1)
pd2dict1

Vedant    A+
Aayush     B
Arpan      C
dtype: object

In [49]:
# pd.DataFrame?

In [45]:
# converting dictionary in pandas series
dict = {"Vedant":[99,34,54],"Aayush":[98,54,32],"Arpan":[97,32,21]}
pd2dict = pd.DataFrame(dict)
pd2dict

   Vedant  Aayush  Arpan
0      99      98     97
1      34      54     32
2      54      32     21